@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .stroke-text{
        -webkit-text-stroke: 1px rgb(20, 20, 20);
    }
    .stroke-text-small{
        -webkit-text-stroke: 0.2px rgb(20, 20, 20);
    }
    .container1, .container2, .container3, .container4, .container5, .container6, .container7{
        width: 250px;
        height: 250px;
        perspective: 800px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
      }

    .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover   {
        cursor: pointer;
        transform: rotateY(180deg);
      }

      .card1, .card2, .card3, .card4, .card5, .card6, .card7 {
        height: 100%;
        width: 100%;
        position: relative;
        transition: transform 1500ms;
        transform-style: preserve-3d;
      }

      .front,
      .back {
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0 0 5px 2px rgba(12, 12, 12, 0.25);
        position: absolute;
        backface-visibility: hidden;
        background-color: rgb(25 42 59);
      }
      .back {
        transform: rotateY(180deg);

        text-align: center;
        
      }
  }